.header__logo {
  max-width: 142px;
  padding-bottom: 41px;
}

@media screen and (max-width: 900px) {
  .header__logo {
    max-width: 103.74px;
    padding-bottom: 32px;
    padding-left: 27px;
  }
}
