.profile__name {
  max-width: 294px;
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 56px;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width: 940px) {
  .profile__name {
    font-size: 27px;
    line-height: 1.22;
    text-align: center;
    max-width: 189px;
  }
}
