.footer__link {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.2;
  color: rgba(255, 255, 255, .5);
  text-decoration: none;
  transition: color .3s linear;
}

.footer__link:hover {
  color: #545454;
}

@media screen and (max-width: 940px) {
  .footer__link {
    font-size: 14px;
  }
}
