.profile__edit-button {
  width: 24px;
  height: 24px;
  border: 1px solid #fff;
  background-color: transparent;
  background-image: url(../../../images/edit_button.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 10px;
  padding: 0;
  transition: opacity .3s linear;
}

.profile__edit-button:hover {
  opacity: .6;
  cursor: pointer;
}

@media screen and (max-width: 940px) {
  .profile__edit-button {
    max-width: 18px;
    max-height: 18px;
    background-size: 7.5px;
  }
}
